.justinian__title {
    align-self: center;
    max-width: 40%;    
    font-size: 110px;
    line-height: 1.15;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}
@media screen and (max-width: 768px) {
    .justinian__title {
        max-width: none;
        font-size: 48px;
    }
}

@media screen and (min-width: 1700px) {
    .justinian__title {
        padding-top: 7%;
        font-size: 128px;
    }
}