
.justinian {
    background-color: #1f1f1f;
    color: #FFFFFF;
    width: 100%;
    min-height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 48px 48px 0;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .justinian {
        padding: 24px 24px 0;
        min-height: auto;
    }
}
@media screen and (min-width: 769px) and (max-width: 1025px) {
    .justinian {
        min-height: 75vh;
    }
}