.header {
  width: 100%;
  background-color: #1f1f1f;
  padding: 28px 48px;
  display: flex;
  justify-content: space-between; 
  box-sizing: border-box; 
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px;
  }
}